<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <title>Title</title>

    <style>
        #logout {
            color: #ddd;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <div id="user-details" class="navbar-brand"></div>
                <div class="ml-auto navbar-text">
                    <a id="logout" href="/logout">Logout</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row vh-100">
                <div class="col-2 pt-4 px-0">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link tables-nav active" id="all_users_table"  aria-current="page">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tables-nav" id="current_user_table" aria-current="page">User</a>
                        </li>
                    </ul>
                </div>
                <div class="col-10 pt-4 ps-4 bg-light">
                    <h1>Admin panel</h1>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="users-info-tab" data-bs-toggle="tab" href="#users-info-tab-panel" role="tab" aria-controls="users-info-tab-panel" aria-selected="true">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="new-user-tab" data-bs-toggle="tab" href="#new-user-tab-panel" role="tab" aria-controls="new-user-tab-panel" aria-selected="true">New user</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="tab-content">
                        <div class="tab-pane active" id="users-info-tab-panel" role="tabpanel" aria-labelledby="admin-tab">
                            <div class="card">
                                <h5 class="card-header py-3" id="table-header"></h5>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover align-middle">
                                            <thead id="table-info-head"></thead>
                                            <tbody id="table-info-body"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="new-user-tab-panel" role="tabpanel" aria-labelledby="new-user-tab">
                            <div class="card">
                                <h5 class="card-header py-3">Add new user</h5>
                                <div class="card-body text-center">
                                    <div class="w-50 mx-auto">
                                        <form id="add-user-form">
                                            <div class="form-group mb-3">
                                                <label class="form-label fw-bold" for="new-first-name">First Name</label>
                                                <input class="form-control" type="text" id="new-first-name" name="firstName"/>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label class="form-label fw-bold" for="new-last-name">Last Name</label>
                                                <input class="form-control" type="text" id="new-last-name" name="lastName"/>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label class="form-label fw-bold" for="new-age">Age</label>
                                                <input class="form-control" type="number" id="new-age" name="age" min="1" max="200" step="1"/>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label class="form-label fw-bold" for="new-username">Username</label>
                                                <input class="form-control" type="text" id="new-username" name="username" required/>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label class="form-label fw-bold" for="new-password">Password</label>
                                                <input class="form-control" type="text" id="new-password" name="password"/>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label class="form-label fw-bold" for="new-rolesList">Role</label>
                                                <select class="form-select" id="new-rolesList" name="roles" size="2" multiple>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-success">Add new user</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="deleteModalWindow" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel">Delete user</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body text-center">
                        <form id="delete-user-form">
                            <div class="d-flex flex-column w-50 mx-auto">
                                <div class="form-group mb-3">
                                    <label class="form-label fw-bold" for="delete-id">ID</label>
                                    <input class="form-control" type="text" id="delete-id" name="id" disabled/>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label fw-bold" for="delete-first-name">First Name</label>
                                    <input class="form-control" type="text" id="delete-first-name" name="firstName" disabled/>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label fw-bold" for="delete-last-name">Last Name</label>
                                    <input class="form-control" type="text" id="delete-last-name" name="lastName" disabled/>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label fw-bold" for="delete-age">Age</label>
                                    <input class="form-control" type="text" id="delete-age" name="age" disabled/>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label fw-bold" for="delete-username">Username</label>
                                    <input class="form-control" type="text" id="delete-username" name="username" disabled/>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label fw-bold" for="delete-rolesList">Role</label>
                                    <select class="form-control" id="delete-rolesList" name="roles" size="2" multiple disabled>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer text-end">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="delete-close-button">Close</button>
                                <button type="submit" class="btn btn-danger" id="delete-button">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="editModalWindow" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editModalLabel">Edit user</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body text-center">
                        <form id="edit-user-form">
                            <div class="d-flex flex-column w-50 mx-auto">
                                <div class="form-group mb-3">
                                    <label class="form-label fw-bold" for="edit-id">ID</label>
                                    <input class="form-control" type="text" id="edit-id" name="id" disabled/>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label fw-bold" for="edit-first-name">First Name</label>
                                    <input class="form-control" type="text" id="edit-first-name" name="firstName"/>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label fw-bold" for="edit-last-name">Last Name</label>
                                    <input class="form-control" type="text" id="edit-last-name" name="lastName"/>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label fw-bold" for="edit-age">Age</label>
                                    <input class="form-control" type="number" id="edit-age" name="age" min="1" max="200" step="1"/>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label fw-bold" for="edit-username">Username</label>
                                    <input class="form-control" type="text" id="edit-username" name="username" required/>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label fw-bold" for="edit-password">Password</label>
                                    <input class="form-control" type="text" id="edit-password" name="password"/>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label fw-bold" for="edit-rolesList">Role</label>
                                    <select class="form-select" id="edit-rolesList" name="roles" size="2" multiple>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer text-end">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="edit-close-button">Close</button>
                                <button type="submit" class="btn btn-primary" id="edit-button">Edit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="/admin.js"></script>
</body>
</html>

