<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <title>Title</title>

    <style>
        #logout {
            color: #ddd;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <div id="user-details" class="navbar-brand"></div>
                <div class="ml-auto navbar-text">
                    <a id="logout" href="/logout">Logout</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="table-responsive">
            <table class="table table-striped table-hover align-middle">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody id="table-info-body">
                <tr>

                </tr>
                </tbody>
            </table>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script>
        function concatRoles(jsonData)
        {
            let roles = '';
            for (let role of jsonData.roles) {
                roles +=  ' ' + role.name.slice(5);
            }
            return roles;
        }

        async function getUserDetails()
        {
            let response = await fetch(url);
            if (response.ok) {
                let jsonData = await response.json();
                let necessaryDetails = jsonData[jsonData.length-1];
                let userDetails= document.getElementById("user-details");
                let roles = concatRoles(necessaryDetails);
                userDetails.innerHTML = `<b>${necessaryDetails.username}</b> with roles:${roles}`;
            } else {
                alert("Ошибка HTTP: " + response.status);
            }
        }

        async function getAllUsersDetails()
        {
            let response = await fetch(url);
            if (response.ok) {
                let jsonData = await response.json();
                let tableBody = '';
                let tableInfo = document.getElementById("table-info-body");
                for (let i = 0; i < (jsonData.length - 1); i++) {
                    console.log(i);
                    let roles = concatRoles(jsonData[i]);
                    tableBody += `<tr>
                                        <th>${jsonData[i].id}</th>
                                        <td>${jsonData[i].firstName}</td>
                                        <td>${jsonData[i].lastName}</td>
                                        <td>${jsonData[i].age}</td>
                                        <td>${jsonData[i].username}</td>
                                        <td>${roles.slice(1)}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal${jsonData[i].id}">
                                                Edit
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal${jsonData[i].id}">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>`
                }
                tableInfo.innerHTML = tableBody;
            } else {
                console.log("Ошибка HTTP: " + response.status);
            }
        }

        const url = '/api/admin'

        getUserDetails();
        getAllUsersDetails();
    </script>
</body>
</html>

