<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<a href="/logout"><button type="button">Выйти</button></a>
<br />
<div th:object="${user}">
    <h1>
        <span th:text="${user.getUsername()}"></span>, welcome to your info page!
    </h1>
</div>

<div th:object="${user}">
    <h3>
        Username: <span th:text="${user.getUsername()}"></span>
    </h3>
    <br />
    <h3>
        First Name: <span th:text="${user.getFirstName()}"></span>
    </h3>
    <br />
    <h3>
        Last Name: <span th:text="${user.getLastName()}"></span>
    </h3>
    <br />
    <h3>
        Age: <span th:text="${user.getAge()}"></span>
    </h3>
</div>

</body>
</html>